<div class="right_content">
    <div class="d_header">
        <div class="d_header_left">
            <div class="expand_content">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button class="mobile_hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="search_field">
                <input type="text" placeholder="Search">
                <img src="../../../../assets/images/admin/images/search_icon.svg" alt="search">
            </div>
        </div>
        <ul class="d_header_right">
            <li>
                <div class="dropdown">
                    <button class="btn dropdown-toggle badge_btn" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../../assets/images/admin/images/messages.svg" alt="messages">

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn dropdown-toggle badge_btn" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../../assets/images/admin/images/bell.svg" alt="bell"><span>4</span>

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown user_dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../../assets/images/admin/images/user_img.png" alt="user">
                        <div class="user_det">
                            <h6>John Parker</h6>
                            <p>Admin</p>
                        </div>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="user-profile.html">User Profile</a></li>
                        <li><a class="dropdown-item" href="#">Change Password</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="main_content">
        <div class="bg-white profil_rghline detail_rghline">
            <div class="d-flex detail_hd">
                <h4 class="mb-0">Company Details</h4>
                <div class="search_field">
                    <input type="text" placeholder="Search by...">
                    <img src="../../../../assets/images/admin/images/search_icon.svg" alt="search">
                </div>
            </div>


        </div>
        <div class="d_htd_content">
            <div class="htd_content dtl_content">
                <div class="table_overflow">
                    <table>
                        <tr>
                            <th>Company Name</th>
                            <th>ABN Number</th>
                            <th>Created by</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>Lorem ipsum doler</td>
                            <td>JB-12456</td>
                            <td>Jennifer Montez</td>
                            <td><span class="stts_true">True</span></td>
                            <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                                    data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum doler</td>
                            <td>JB-12456</td>
                            <td>David Federer</td>
                            <td><span class="stts_true">True</span></td>
                            <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                                    data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum doler</td>
                            <td>JB-12456</td>
                            <td>Mellissa Parker</td>
                            <td><span class="stts_false">False</span></td>
                            <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                                    data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum doler</td>
                            <td>JB-12456</td>
                            <td>Ryan Geller</td>
                            <td><span class="stts_false">False</span></td>
                            <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                                    data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum doler</td>
                            <td>JB-12456</td>
                            <td>Ryan Geller</td>
                            <td><span class="stts_true">True</span></td>
                            <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                                    data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum doler</td>
                            <td>JB-12456</td>
                            <td>Ryan Geller</td>
                            <td><span class="stts_true">True</span></td>
                            <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                                    data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum doler</td>
                            <td>JB-12456</td>
                            <td>Ryan Geller</td>
                            <td><span class="stts_true">True</span></td>
                            <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                                    data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-commissionsz">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="bg-white modal_dtlstart">
                            <div class="mb-4">
                                <h4>Commission</h4>
                            </div>
                            <form>
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-12 col-12">
                                        <div class="row only-deskfrm mb-4">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label id="carrier-label" for="carrier">Carrier Name <span
                                                            class="text-danger">*</span></label>
                                                    <select class="form-select user_formsdtls"
                                                        aria-label="Default select example">
                                                        <option selected>Carrier</option>
                                                        <option value="Carrier">Carrier</option>
                                                        <option value="Carrier">Carrier</option>
                                                        <option value="Carrier">Carrier</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label id="service-label" for="service">Service Name
                                                        (Optional)</label>
                                                    <select class="form-select user_formsdtls"
                                                        aria-label="Default select example">
                                                        <option selected>Service</option>
                                                        <option value="Service">Service</option>
                                                        <option value="Service">Service</option>
                                                        <option value="Service">Service</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label id="email-label" for="mobile">Commission <span
                                                            class="text-danger">*</span></label>
                                                    <div class="commission-align">
                                                        <div class="form-check commission-space">
                                                            <input class="form-check-input form_checkbg"
                                                                type="radio" name="flexRadioDefault"
                                                                id="flexRadioDefault1">
                                                            <label class="form-check-label fw-bold mb-0"
                                                                for="flexRadioDefault1">
                                                                By $
                                                            </label>
                                                        </div>
                                                        <div class="form-check commission-space">
                                                            <input class="form-check-input form_checkbg"
                                                                type="radio" name="flexRadioDefault"
                                                                id="flexRadioDefault2" checked>
                                                            <label class="form-check-label fw-bold mb-0"
                                                                for="flexRadioDefault2">
                                                                By %
                                                            </label>
                                                        </div>
                                                        <input type="number" name="commission" id="commission"
                                                            placeholder="" class="form-control user_formnum"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label id="service-label" for="service">Status <span
                                                            class="text-danger">*</span></label>
                                                    <select class="form-select user_formsdtls"
                                                        aria-label="Default select example">
                                                        <option selected>Status</option>
                                                        <option value="status">Status</option>
                                                        <option value="status">Status</option>
                                                        <option value="status">Status</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-spcprofile">
                                            <a href="javascript:void(0)" class="btn_authenticate">Save</a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Delete Modal -->

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog delete_bx">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-bold" id="deleteModalLabel">Delete Commission</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this row?</p>
                        <p>This Action can’t be undo.</p>
                    </div>
                    <div class="modal-footer border-top-0">
                        <button type="button" class="btn btn-dangerclr rounded-pill">Delete</button>
                        <button type="button" class="btn btn-lightclr rounded-pill" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>