<div class="wrapper">
  <div class="main_content">
    <div class="flex-space">
      <div class="d-flex">
        <div class="inp-group border">
          <input
            type="date"
            id="birthday"
            name="birthday"
            [min]="minDate"
            [(ngModel)]="collectionDate"
            (change)="getCollectionDate(collectionDate)"
          />
        </div>
        <button
          class="submit-btn px-3 border-0 bg-info text-light fw-bold rounded mx-4"
          (click)="onClick()"
        >
          Submit
        </button>
      </div>
    
      <p class="tx-small-r">
        Important: click for info on collection and delivery delays
      </p>
    </div>
    <div class="tab-container">
      <div class="tab-menu">
        <ul>
          <li>
            <a
              [routerLink]="'application/dashboardlayout/cheapest'"
              class="tab-a"
              >Cheapest Service</a
            >
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              [routerLink]="'application/dashboardlayout/fastest'"
              class="tab-a"
              >Fastest Service</a
            >
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              [routerLink]="'application/dashboardlayout/collection'"
              class="tab-a"
              >Collection Today</a
            >
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              [routerLink]="'application/dashboardlayout/sameday'"
              class="tab-a"
              >Same Day Service</a
            >
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              [routerLink]="'application/dashboardlayout/carriername'"
              class="tab-a"
              >Carrier Name</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
