<div class="main_content">
    <div class="bg-white packageDtlsBg">

        <div class="htd_content bgTablePackage">
            <div class="table_overflow">
                <table>
                    <tbody>
                        <tr>
                            <th colspan="2" class="tblAdditionalDtls">Package Details <span>(Edit)</span></th>
                            <th colspan="2" class="tblAdditionalDtls">Quote <span>(Edit)</span></th>
                            <th colspan="2" class="tblAdditionalDtls">Address Details <span>(Edit)</span></th>
                        </tr>
                        <tr>
                            <td class="weightPackages">Package Type:</td>
                            <td *ngFor="let item of indexForm.items">{{item.type}}</td>

                            <td class="weightPackages">Est. Delivery:</td>
                            <td>{{getQuoteById.eta
                            }}</td>
                            <td class="weightPackages">From:</td>
                            
                            <td>{{ orderform.pickupFirstName + ' ' + orderform.pickupLastName + ', ' + orderform.pickupAddress1 + ' ' + ',' +

   indexForm.fromSuburb  + ',' + ' ' +indexForm.fromState
 + ' ' + indexForm.fromCode
}}</td>
                        </tr>
                        <tr>
                            <td class="weightPackages">Weight:</td>
                            <td *ngFor="let item of indexForm.items">{{item.weight + " kgs"}} 
                        </td>
                            <td class="weightPackages">Price:</td>
                            <td>{{"$" + Calculateprice}} (Excl. GST)</td>
                            <td class="weightPackages">To:</td>
                            <td>{{ orderform.destinationFirstName + ' ' + orderform.destinationLastName + ', ' + orderform.destinationAddress1 + ' ' + ',' +

                                indexForm.toSuburb  + ',' + ' ' +indexForm.toState
                              + ' ' + indexForm.toCode
                             }}</td>
                        </tr>
                        <tr>
                            <td class="weightPackages">Dimensions:</td>
                            <td  *ngFor="let item of indexForm.items" >(L) {{item.length + "cm"}} x (W) {{item.width + "cm"}} x (H) {{item.height + "cm"}}</td>
                            <td class="weightPackages">Warranty:</td>
                            <td>$0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="weightPackages">Quantity:</td>
                            <td *ngFor="let item of indexForm.items">{{item.quantity}}</td>
                            <td class="weightPackages">Total Price:</td>
                            <td>{{"$" + getQuoteById.ishhiperFinalPrice}} (Inc. GST)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="weightPackages">Contents:</td>
                            <td *ngFor="let item of indexForm.items">{{item.contents}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="weightPackages">Courier Selected:</td>
                            <td>{{getQuoteById.courierName
                            }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form [formGroup]="checkForm" >
        <div class="termsConditionBg">
            <div class="termsHeading">
                <h4>Terms & Conditions</h4>
            </div>
            <div class="condiionSpace">
                <div class="form-check">
                    <input class="form-check-input formConditionCheckeds"   [checked]="checkForm.get('acceptInsuranceConditions')?.value" type="checkbox" value=""
                        id="war-info-1 " (change)="checkTermsConditions('acceptInsuranceConditions')" 
                        [checked]="checkForm.get('acceptInsuranceConditions')?.value">
                    <label class="form-check-label labelFs" for="war-info-1">
                        I Confirmed that all details entered in the booking are accurate and truthful to the
                        best of my knowledge. Extra charges will apply for any incorrectly declared information
                        including but not limited to weights, dimensions, address type and/or package types.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input formConditionCheckeds" type="checkbox" value=""
                        id="war-info-2" (change)="checkTermsConditions('acceptAttachment')" 
                        [checked]="checkForm.get('acceptAttachment')?.value" >
                    <label class="form-check-label labelFs" for="war-info-2">
                        Yes - I have read, understood & agree to the <a href="#">Terms & Conditions.</a>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input formConditionCheckeds" type="checkbox" value=""
                        id="war-info-3" (change)="checkTermsConditions('acceptNoDangerousGoods')" 
                        [checked]="checkForm.get('acceptNoDangerousGoods')?.value" >
                    <label class="form-check-label labelFs" for="war-info-3">
                        Yes - I have read the <a href="#">prohibited/restricted product list</a> and declare
                        that this shipment does not contain dangerous goods.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input formConditionCheckeds" type="checkbox" value=""
                        id="war-info-3" (change)="checkTermsConditions('acceptTermConditions')" 
                        [checked]="checkForm.get('acceptTermConditions')?.value">
                    <label class="form-check-label labelFs" for="war-info-3">
                        Yes - I/We have read and understood the <a href="#">policy Terms and Conditions</a> and
                        I accept the option I have elected.
                    </label>
                </div>
                <div class="form-check" >
                    <input class="form-check-input formConditionCheckeds" type="checkbox" value=""
                        id="war-info-3" (change)="checkTermsConditions('acceptReadFinancialServiceGuide')" 
                        [checked]="areAllChecked() " 
                        >
                    <label class="form-check-label labelFs" for="war-info-3">
                        Agree to all of the above.
                    </label>
                </div>
            </div>
    <!-- <div class="inp-group col-md-3  ">
       <div w-50><input type="time" /></div> 
        
    </div> -->
            <div class="addCouponCode">
                <h4>Add Coupon code for discount</h4>
    
                <div class="discountField">
                    <div class="insideBtnName">
                        <input type="text" class="student-input" placeholder="Coupon" />
                        <span>Coupon</span>
                    </div>
                    <button class="searchFld">Apply Coupon</button>
                </div>
            </div>
            
            <div class="addCouponCode" style="display: none;">
                <h4 >Additional Emails to send labels & invoices to</h4>
    
                <div class="discountField" >
                    <div class="insideBtnName">
                        <input type="text" class="student-input" placeholder="Email"  />
                        <span>Email</span>
                    </div>
                    <button class="searchFld">Add Email</button>
                </div>
            </div>
            <div class="ship-sum-col w-full mb-3 mt-4">
                <div class="couriers-wtxt d-flex align-items-center">
                  <div class="only_courierstxt">
                    <p> Pickup required</p>
                  </div>
                  <div class="content">
                    <label class="switch m5">
                      <input type="checkbox" checked="" formControlName="isPickupRequired" (change)="onPickupChange($event)"/>
                      <small></small>
                    </label>
                  </div>
                </div>
              </div>
            <div class="btnBackBook">
                <a  class="btnBack">Back</a>
                <a  [routerLink]="'/application/shipments'" (click)="onSubmit()" class="btnBookNow">Book Now</a>
            </div>
        </div>
    
    </form>
</div>