
 .inp-group i {
     position: absolute;
     right: 184px;
     top: 55%;
     transform: translateY(-50%);
     cursor: pointer;
 }
 
 /* Media queries for responsiveness */
@media (max-width: 1200px) {
     .inp-group i {
         right: 15px; /* Adjust position for large screens */
     }
 }
 
 @media (max-width: 992px) {
     .inp-group i {
         right: 10px; /* Adjust position for medium screens */
     }
 }
 
 @media (max-width: 768px) {
     .inp-group i {
         right: 8px; /* Adjust position for small screens */
     }
 }
 
 @media (max-width: 576px) {
     .inp-group i {
          right: 35px;
          bottom: 34%;
      }
}
