
        <div class="main_content">
            <div class="profile-admtxt">
                <h4>Contact Us</h4>
                <span></span>
            </div>
            <div class="contact-para pt-3">
                <p>We’re here to answer your questions and help you find the right solution for your business.</p>
            </div>
            <div class="bg-white mt-4 profil_rghline">
                <form>
                    <!-- <div class="row d-flex align-items-center">
                        <div class="col-md-12 col-lg-12 col-xl-12 col-12"> -->
                    <div class="row only-deskfrm">
                        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label id="email-label" for="name">Full Name <span
                                        class="text-danger">*</span></label>
                                <input type="text" name="name" id="name" placeholder="John Parker"
                                    class="form-control user_formsdtls" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label id="email-label" for="email">Email <span class="text-danger">*</span></label>
                                <input type="email" name="email" id="email" placeholder="Johnp@xyz.com"
                                    class="form-control user_formsdtls" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label id="email-label" for="mobile">Mobile Number <span
                                        class="text-danger">*</span></label>
                                <input type="tel" name="mobile" id="mobile" placeholder="(+61) 0490234123"
                                    class="form-control user_formsdtls" required>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label id="email-label" for="mobile">How can we help you today? <span
                                        class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="input_bxs d-flex align-items-center gap-5 flex-wrap">
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-input me-1" id="exampleCheck1">
                                    <label class="form-check-label my-0" for="exampleCheck1">Order/Delivery
                                        Issue</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-input me-1" id="exampleCheck2">
                                    <label class="form-check-label my-0" for="exampleCheck2">Shipping/Receiving
                                        Question</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-input me-1" id="exampleCheck3">
                                    <label class="form-check-label my-0" for="exampleCheck3">Gifting/Bulk
                                        Ordering</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-input me-1" id="exampleCheck4">
                                    <label class="form-check-label my-0" for="exampleCheck4">Product
                                        Information</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-input me-1" id="exampleCheck5">
                                    <label class="form-check-label my-0" for="exampleCheck5">Virtual Testing
                                        Events</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-input me-1" id="exampleCheck6">
                                    <label class="form-check-label my-0" for="exampleCheck6">Others</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label id="email-label" for="message">Message <span
                                        class="text-danger">*</span></label>

                                <textarea rows="4" name="message" placeholder="Message" class="form-control textarea_formsdtls"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="btn-spcprofile">
                            <a href="javascript:void(0)" class="btn_authenticate">Update</a>
                            <a href="javascript:void(0)" class="btn-cancelation">Cancel</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    