<h4 class="mb-3">Delivery Details</h4>
<div class="d_htd_content bg-white mb-4">
    <ul class="dev-dl-list">
        <li>
            <h5>Collection Details <span>(Residential Address)</span></h5>
            <p>Collection Date:  <span>22 May 24</span></p>
            <p>Name:  <span>John Smith</span></p>
            <p>Address: <span>12 Green park schofileds, lane 22 NSW 23566</span></p>
            <p>Phone:  <span>0858994432</span></p>
            <p>Email:  <span>john@xyz.com</span></p>
        </li>
        <li>
            <h5>Delivery Details <span>(Residential Address)</span></h5>
            <p>Est Deluivery:  <span>25 May 24</span></p>
            <p>Name:  <span>ChrisSmith</span></p>
            <p>Address:  <span>43 Green park schofileds, lane 22 NSW 23566</span></p>
            <p>Phone:  <span>0858994432</span></p>
            <p>Email:  <span>john@xyz.com</span></p>
        </li>
        <li>
            <h5>Service Provider</h5>
            <p>Courier Name:  <span>Startrack</span></p>
            <p>Service Name:  <span>Road Express</span></p>
            <p>Estimated Transit Time:  <span>2 business days</span></p>
            <p>Authority to Leave:  <span>Yes</span></p>
            <p>Pickup Required:  <span>No</span></p>
        </li>
    </ul>
</div>
<div class="appl-cup mb-4">
    <input type="text" class="apl-feild" placeholder="Voucher code?" />
    <button type="submit" class="code-sub">Apply Voucher</button>
</div>