<!-- <div class="col-lg-6 col-xl-4 mb-4">
    <div class="p-4 d_htd_content bg-white h-full">
        <div class="bg-white htd_head ship-sum p-0 mb-3">
            <h4>Delivery Address</h4>
            <a href="#" class="tx-add"><i class="fa fa-plus-circle"></i> Add Address</a>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Contact Name <span class="tx-red">*</span></label>
            <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Company <span class="tx-light">(optional)</span></label>
            <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Address 1 <span class="tx-red">*</span></label>
            <input type="text" placeholder="Lorem ipsum" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Address 1</label>
            <input type="text" placeholder="$142" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Telephone <span class="tx-red">*</span></label>
            <input type="text" placeholder="0886767933" />
        </div>
        <div class="ship-sum-col w-full">
            <label>Email <span class="tx-red">*</span></label>
            <input type="text" placeholder="Johnp@xyz.com" />
        </div>
    </div>
</div> -->

     <!-- <div class="p-4 d_htd_content bg-white h-full">
        <div class="bg-white htd_head ship-sum p-0 mb-3">
            <h4>Delivery Address</h4>
            <a  class="tx-add"><i class="fa fa-plus-circle"></i> Add Address</a>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Contact Name <span class="tx-red">*</span></label>
            <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Company <span class="tx-light">(optional)</span></label>
            <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Address 1 <span class="tx-red">*</span></label>
            <input type="text" placeholder="Lorem ipsum" [options]="options"  ngx-google-places-autocomplete #placesRef1="ngx-places" (onAddressChange)="handleAddressChange($event,'formattedAddress1')" style="padding-right: 30px;"  />
            <i class="bi bi-x-circle close-icon" (click)="clearAddresses()" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
           
        </div>
        <div class="ship-sum-col w-full mb-3 ">
            <label>Address 1</label>
            <div class="search-container" style="position: relative;">
            <input type="text"  placeholder="$142" [options]="options"  ngx-google-places-autocomplete #placesRef2="ngx-places" (onAddressChange)="handleAddressChange($event,'formattedAddress2')" style="padding-right: 30px;"  />
            <i class="bi bi-x-circle close-icon" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;" (click)="clearAddresses()"
            ></i>
        </div>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Telephone <span class="tx-red">*</span></label>
            <input type="text"  placeholder="0886767933" />
          
        </div>
        <div class="ship-sum-col w-full">
            <label>Email <span class="tx-red">*</span></label>
            <input type="text" placeholder="Johnp@xyz.com" />
        </div>
    </div>  -->
    <div class="p-4 d_htd_content bg-white h-full">
        <div class="bg-white htd_head ship-sum p-0 mb-3">
          <h4>Delivery Address</h4>
          <a class="tx-add"><i class="fa fa-plus-circle"></i> Add Address</a>
        </div>
        <div class="ship-sum-col w-full mb-3" style="position: relative;">
          <label>Contact Name <span class="tx-red">*</span></label>
          <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
          <label>Company <span class="tx-light">(optional)</span></label>
          <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3" style="position: relative;">
          <label>Address 1 <span class="tx-red">*</span></label>
          <input
          type="text"
          placeholder="Lorem ipsum"
          [options]="options"
          ngx-google-places-autocomplete
          #placesRef1="ngx-places"
          (onAddressChange)="handleAddressChange($event, 'formattedAddress1')"
          [(ngModel)]="formattedAddress1"
          style="padding-right: 30px;"
        />
        <i
          class="bi bi-x-circle close-icon"
          (click)="clearAddresses()"
          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;margin-top: 20px;"
        ></i>
        </div>
        <div class="ship-sum-col w-full mb-3" style="position: relative;">
          <label>Address 2</label>
          < <input
          type="text"
          placeholder="$142"
          [options]="options"
          ngx-google-places-autocomplete
          #placesRef2="ngx-places"
          (onAddressChange)="handleAddressChange($event, 'formattedAddress2')"
          [(ngModel)]="formattedAddress2"
          style="padding-right: 30px;"
        />
        <i
          class="bi bi-x-circle close-icon"
          (click)="clearAddresses()"
          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; margin-top: 20px;"
        ></i>
        </div>
        <div class="ship-sum-col w-full mb-3">
          <label>Telephone <span class="tx-red">*</span></label>
          <input type="text" placeholder="0886767933" />
        </div>
        <div class="ship-sum-col w-full">
          <label>Email <span class="tx-red">*</span></label>
          <input type="text" placeholder="Johnp@xyz.com" />
        </div>
      </div>
      
