<div class="main_content">

    <div class="bg-white packageDtlsBg text-center">

        <div class="paymentFailed">
            <img src="./images/payment-failed.svg" alt="">
            <!-- <i class="fa fa-warning"></i> -->
            <h2>Payment Failed</h2>
        </div>

        <div class="failedMsg">
            <p>Hey there, We tried to charge your card but, something went wrong. please update your payment
                method below to continue.</p>
            <div class="btn-udaptePay">
                <a href="javascript:void(0)" class="btnBookNow">Update Payment method</a>
            </div>
        </div>
        <div class="updateSupport mt-3">
            <p>Have a question? <a href="#">Contact Support</a></p>
        </div>

        <div class="returnPage">
            <i class="fa fa-angle-double-left"></i> <a href="#" class="text-decoration-underline"> Return
                Home</a>
        </div>
    </div>

</div>