<!-- <div class="main_content">

    <app-top-striper><app-top-striper>
        
    <div class="row">

        <app-collection-adress></app-collection-adress>
        <app-delivery-adress></app-delivery-adress>
        <app-parcel-detail><app-parcel-detail>

            <div class="col-md-12">
                <div class="ship-btn-row">
                    <button class="cr-btn">Previous Step</button>
                    <button class="cr-btn cr-btn-bor">Next Step</button>
                </div>
              
            </div>
     
    

 -->
<div class="main_content">
<app-top-striper></app-top-striper>

<div class="row">
    <div class="col-lg-6 col-xl-4 mb-4">
<app-collection-adress></app-collection-adress>
    </div>
<div class="col-lg-6 col-xl-4 mb-4">
<app-delivery-adress></app-delivery-adress>
</div>
<div  class="col-lg-12 col-xl-4">
    <app-parcel-detail></app-parcel-detail>
</div>
<div class="col-md-12">
    <div class="ship-btn-row">
        <button class="cr-btn">Previous Step</button>
        <button class="cr-btn cr-btn-bor">Next Step</button>
    </div>
</div>
</div></div>