 <!-- Footer Start -->
 <footer>
    <div class="container p-3">
      <div class="row p-0">
        <div class="col-md-6 col-xl-4">
          <div class="footer_1">
            <img src="../../../../assets/images/admin/images/footer_logo.png" alt="logo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed aliquam ygyt neque, quis conseq
              aliquam ygyt neque, quis conseq.</p>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="footer_2">
            <ul class="footer_links">
              <li><a href="javscript:void(0)">Support</a></li>
              <li><a href="javscript:void(0)">Home</a></li>
              <li><a href="javscript:void(0)">Solutions</a></li>
              <li><a href="javscript:void(0)">Prcing</a></li>
              <li><a href="javscript:void(0)">FAQ</a></li>
              <li><a href="javscript:void(0)">Contact us</a></li>
            </ul>
            <ul class="footer_links">
              <li><a href="javscript:void(0)">Company</a></li>
              <li><a href="javscript:void(0)">Guides</a></li>
              <li><a href="javscript:void(0)">API Docs</a></li>
              <li><a href="javscript:void(0)">Status</a></li>
              <li><a href="javscript:void(0)">Newsletter</a></li>
              <li><a href="javscript:void(0)">FAQ</a></li>
              <li><a href="javscript:void(0)">Carrier Updates</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="footer_3">
            <h4>Recent Ads</h4>
            <div class="recent_row">
              <div class="recent_img">
                <img src="../../../../assets/images/admin/images/recent-ads1.png" alt="recent ads">
              </div>
              <div class="recent_img">
                <img src="../../../../assets/images/admin/images/recent-ads2.png" alt="recent ads">
              </div>
              <div class="recent_img">
                <img src="../../../../assets/images/admin/images/recent-ads3.png" alt="recent ads">
              </div>
              <div class="recent_img">
                <img src="../../../../assets/images/admin/images/recent-ads4.png" alt="recent ads">
              </div>
              <div class="recent_img">
                <img src="../../../../assets/images/admin/images/recent-ads5.png" alt="recent ads">
              </div>
              <div class="recent_img">
                <img src="../../../../assets/images/admin/images/recent-ads6.png" alt="recent ads">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-2">
          <div class="footer_4">
            <h4>Follow us on:</h4>
            <ul class="footer_social_links">
              <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright_section">
        <ul>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
          <li><a href="javascript:void(0)">Terms & Conditions</a></li>
          <li><a href="javascript:void(0)">Support</a></li>
        </ul>
        <p>2023 Copyright www.iShippers All right reserved. </p>
      </div>
    </div>
  </footer>
  <!-- Footer End -->

