<div class="d_htd_content">
    <div class="htd_content">
        <div class="table_overflow">
            <table>
                <tbody>
                <tr>
                    <th>Carrier Name</th>
                    <th>Service Source</th>
                    <th>Commission Charged By</th>
                    <th>Date of Applicable</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Carrier</td>
                    <td>iShipper</td>
                    <td>14$</td>
                    <td>08/07/2024</td>
                    <td>True</td>
                    <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                            data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                            data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                </tr>
                <tr>
                    <td>Carrier</td>
                    <td>iShipper</td>
                    <td>5$</td>
                    <td>08/07/2024</td>
                    <td>False</td>
                    <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                            data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                            data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                </tr>
                <tr>
                    <td>Carrier</td>
                    <td>iShipper</td>
                    <td>9$</td>
                    <td>08/07/2024</td>
                    <td>True</td>
                    <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                            data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                            data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                </tr>
                <tr>
                    <td>Carrier</td>
                    <td>iShipper</td>
                    <td>16$</td>
                    <td>08/07/2024</td>
                    <td>True</td>
                    <td><i class="fa fa-edit edit-commission me-2" data-bs-toggle="modal"
                            data-bs-target="#editModal"></i><i class="fa fa-trash delete-commission"
                            data-bs-toggle="modal" data-bs-target="#deleteModal"></i></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>