<!-- <div class="d_htd_content bg-white htd_head mb-4 ship-sum p-4">
    <h4>Shipment Summary</h4>
    <a href="#" class="tx-edit"><i class="fa fa-pencil-square-o"></i> Edit</a>

    <div class="ship-sum-row">
        <div class="ship-sum-col">
            <label>Courier</label>
            <span class="str-logo"><img src="../../../../assets/images/admin/images/startrack-logo.png" alt="" /></span>
        </div>
        <div class="ship-sum-col">
            <label>Shipment</label>
            <input type="text" placeholder="5 Kgs parcel" />
        </div>
        <div class="ship-sum-col">
            <label>From</label>
            <input type="text" placeholder="Sydney" />
        </div>
        <div class="ship-sum-col">
            <label>To</label>
            <input type="text" placeholder="Brisbane" />
        </div>
        <div class="ship-sum-col">
            <label>Collection Date</label>
            <input type="text" placeholder="18 May 2024" />
        </div>
        <div class="ship-sum-col">
            <label>Estimated Delivey Date</label>
            <input type="text" placeholder="22 May 2023" />
        </div>
        <div class="ship-sum-col">
            <label>Shipment Cost</label>
            <input type="text" placeholder="$142" />
        </div>
    </div>
</div> -->
<div class="d_htd_content bg-white htd_head mb-4 ship-sum p-4">
    <h4>Shipment Summary</h4>
    <a href="#" class="tx-edit"><i class="fa fa-pencil-square-o"></i> Edit</a>

    <div class="ship-sum-row">
        <div class="ship-sum-col">
            <label>Courier</label>
            <span class="str-logo"><img src="../../../../assets/images/customer/images/startrack-logo.png" alt="" /></span>
        </div>
        <div class="ship-sum-col">
            <label>Shipment</label>
            <input type="text" placeholder="5 Kgs parcel" />
        </div>
        <div class="ship-sum-col">
            <label>From</label>
            <input type="text" placeholder="Sydney" />
        </div>
        <div class="ship-sum-col">
            <label>To</label>
            <input type="text" placeholder="Brisbane" />
        </div>
        <div class="ship-sum-col">
            <label>Collection Date</label>
            <input type="text" placeholder="18 May 2024" />
        </div>
        <div class="ship-sum-col">
            <label>Estimated Delivey Date</label>
            <input type="text" placeholder="22 May 2023" />
        </div>
        <div class="ship-sum-col">
            <label>Shipment Cost</label>
            <input type="text" placeholder="$142" />
        </div>
    </div>