<div class="modal fade" id="error_modal" tabindex="-1" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-commissionsz">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="brutalist-card">
                    <div class="brutalist-card__header">
                      <div class="brutalist-card__icon">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
                        </svg>
                      </div>
                      <div class="brutalist-card__alert">Oops!</div>
                    </div>
                    <div class="brutalist-card__message">
                      Something went wrong. Please try again later.
                    </div>
                    <div class="brutalist-card__actions">
                      <a class="brutalist-card__button brutalist-card__button--mark" style="color: white;">
                        Okay
                      </a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    