<div class="tab  d_htd_content" data-id="tab3">
    <div class="tab-box">
        <div class="tab-box-head">
            <div class="tab-head-col">Courier Partner</div>
            <div class="tab-head-col">Collection Date</div>
            <div class="tab-head-col">Estimated Transit Time</div>
            <div class="tab-head-col">Estimated Delivery Date</div>
            <div class="tab-head-col">Shippping Cost (inc GST)</div>
        </div>
        <div class="tab-box-row">
            <div class="tab-row-col">
                <div>
                    <span class="str-logo"><img src="../../../../assets/images/customer/images/startrack-logo.png" alt="" /></span>
                    <span class="ex-tyle">Road Express</span>
                </div>
            </div>
            <div class="tab-row-col"><span>Sat, 18 May</span></div>
            <div class="tab-row-col">
                <div>
                    <span>2 Days</span>
                    <span class="cor-way">
                      <img src="../../../../assets/images/customer/images/plan-blue.png" alt="" />
                      <img src="../../../../assets/images/customer/images/plan-black.png" alt="" />
                    </span>
                </div>
            </div>
            <div class="tab-row-col">
                <span>Mon, 22 May</span>
            </div>
            <div class="tab-row-col">
                <div>
                    <span class="cl-rate">$30.05</span>
                    <a href="#" class="cr-btn">Book Now</a>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/inf-i.png" /> Service Information</span>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/dol-i.png" /> Service Surcharge</span>
                </div>
            </div>
        </div>
        <p class="tx-small">Collection by 5 PM Tomorrow if booked  by 11:00 AM Tomorrow</p>

        <div class="tab-box-row">
            <div class="tab-row-col">
                <div>
                    <span class="str-logo"><img src="../../../../assets/images/customer/images/startrack-logo.png" alt="" /></span>
                    <span class="ex-tyle">Road Express</span>
                </div>
            </div>
            <div class="tab-row-col"><span>Sat, 18 May</span></div>
            <div class="tab-row-col">
                <div>
                    <span>2 Days</span>
                    <span class="cor-way">
                      <img src="../../../../assets/images/customer/images/plan-blue.png" alt="" />
                      <img src="../../../../assets/images/customer/images/plan-black.png" alt="" />
                    </span>
                </div>
            </div>
            <div class="tab-row-col">
                <span>Mon, 22 May</span>
            </div>
            <div class="tab-row-col">
                <div>
                    <span class="cl-rate">$30.05</span>
                    <a href="#" class="cr-btn">Book Now</a>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/inf-i.png" /> Service Information</span>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/dol-i.png" /> Service Surcharge</span>
                </div>
            </div>
        </div>
        <p class="tx-small">Collection by 5 PM Tomorrow if booked  by 11:00 AM Tomorrow</p>

        <div class="tab-box-row">
            <div class="tab-row-col">
                <div>
                    <span class="str-logo"><img src="../../../../assets/images/customer/images/startrack-logo.png" alt="" /></span>
                    <span class="ex-tyle">Road Express</span>
                </div>
            </div>
            <div class="tab-row-col"><span>Sat, 18 May</span></div>
            <div class="tab-row-col">
                <div>
                    <span>2 Days</span>
                    <span class="cor-way">
                      <img src="../../../../assets/images/customer/images/plan-blue.png" alt="" />
                      <img src="../../../../assets/images/customer/images/plan-black.png" alt="" />
                    </span>
                </div>
            </div>
            <div class="tab-row-col">
                <span>Mon, 22 May</span>
            </div>
            <div class="tab-row-col">
                <div>
                    <span class="cl-rate">$30.05</span>
                    <a href="#" class="cr-btn">Book Now</a>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/inf-i.png" /> Service Information</span>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/dol-i.png" /> Service Surcharge</span>
                </div>
            </div>
        </div>
        <p class="tx-small">Collection by 5 PM Tomorrow if booked  by 11:00 AM Tomorrow</p>

        <div class="tab-box-row">
            <div class="tab-row-col">
                <div>
                    <span class="str-logo"><img src="../../../../assets/images/customer/images/startrack-logo.png" alt="" /></span>
                    <span class="ex-tyle">Road Express</span>
                </div>
            </div>
            <div class="tab-row-col"><span>Sat, 18 May</span></div>
            <div class="tab-row-col">
                <div>
                    <span>2 Days</span>
                    <span class="cor-way">
                      <img src="../../../../assets/images/customer/images/plan-blue.png" alt="" />
                      <img src="../../../../assets/images/customer/images/plan-black.png" alt="" />
                    </span>
                </div>
            </div>
            <div class="tab-row-col">
                <span>Mon, 22 May</span>
            </div>
            <div class="tab-row-col">
                <div>
                    <span class="cl-rate">$30.05</span>
                    <a href="#" class="cr-btn">Book Now</a>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/inf-i.png" /> Service Information</span>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/dol-i.png" /> Service Surcharge</span>
                </div>
            </div>
        </div>
        <p class="tx-small">Collection by 5 PM Tomorrow if booked  by 11:00 AM Tomorrow</p>

        <div class="tab-box-row">
            <div class="tab-row-col">
                <div>
                    <span class="str-logo"><img src="../../../../assets/images/customer/images/startrack-logo.png" alt="" /></span>
                    <span class="ex-tyle">Road Express</span>
                </div>
            </div>
            <div class="tab-row-col"><span>Sat, 18 May</span></div>
            <div class="tab-row-col">
                <div>
                    <span>2 Days</span>
                    <span class="cor-way">
                      <img src="../../../../assets/images/customer/images/plan-blue.png" alt="" />
                      <img src="../../../../assets/images/customer/images/plan-black.png" alt="" />
                    </span>
                </div>
            </div>
            <div class="tab-row-col">
                <span>Mon, 22 May</span>
            </div>
            <div class="tab-row-col">
                <div>
                    <span class="cl-rate">$30.05</span>
                    <a href="#" class="cr-btn">Book Now</a>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/inf-i.png" /> Service Information</span>
                    <span class="cl-small"><img src="../../../../assets/images/customer/images/dol-i.png" /> Service Surcharge</span>
                </div>
            </div>
        </div>
        <p class="tx-small">Collection by 5 PM Tomorrow if booked  by 11:00 AM Tomorrow</p>
    </div>
</div>