
    <div class="p-4 d_htd_content bg-white h-full">
        <h4>Warranty Information</h4>
        <p class="mb-3">Please confirm the contents value of your shipment below, this will be used to calculate a total shipment warranty value, which includes freight charges;</p>
        
        <div class="ship-sum-col w-full mb-3">
            <label>Total Value of Contents <span class="tx-red">*</span></label>
            <input type="text" placeholder="2500" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Freight Cost <span class="tx-red">*</span></label>
            <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Total Warranty Value <span class="tx-red">*</span></label>
            <input type="text" placeholder="$5688.00" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <p class="tx-light">Our services are provided in a competitive environment where costs are a function of risk and liability to us and our customers. Accordingly, we offer our customers the following three alternative warranty services which reflect different levels of risk, liability and cost to us and our customers</p>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <h4>Warranty Options:</h4>
            <div class="check-list-box">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="form-check1" checked>
                    <label class="form-check-label" for="form-check1">
                        Option 1: No Liability Service
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="form-check2">
                    <label class="form-check-label" for="form-check2">
                        Option 2: Conditional Warranty Service
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="form-check3">
                    <label class="form-check-label" for="form-check3">
                        Option 3: Legal Liability Service
                    </label>
                  </div>
            </div>
        </div>
        
    </div>
