
<div class="dashboard-wrapBg">
    <div *ngIf="isLoading" class="loader-overlay">
        <app-loader></app-loader>
      </div>
   <form [formGroup]="cancelForm">
    <div class="white_form_card">
        
        <div class="inp-group">
            <label for="">Order id</label>
            <input type="text" name="" id="" formControlName="orderId" placeholder="Enter order id">
        </div>
        <div class="inp-group">
            <label for="">Reason</label>
            <textarea class="areaText" type="email" name="" rows="5" cols="50" id="" placeholder="Enetr Message"  formControlName="reason"></textarea>
        </div>
        <div class="btn-spcprofile">
            <button  class="btn_authenticate" (click)="cancelOrder()">Submit</button>
            <a href="javascript:void(0)" class="btn-cancelation">Cancel</a>
        </div>
      
    </div>
   </form>
</div>