


<div class="main_content">
    <div class="main_box_row row">
        <div class="col-sm-6 col-xl-3">
            <div class="d_white_box">
                <div class="row">
                    <div class="left_d_w_box col-6">
                        <h5>Total Shipment</h5>
                        <h3>2507,00</h3>
                        <p><img src="../../../../assets/images/admin/images/green_up.svg" alt="up">+12.56%</p>
                    </div>
                    <div class="right_d_w_box col-6">
                        <img src="../../../../assets/images/admin/images/green_chart.png" alt="chart">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="d_white_box">
                <div class="row">
                    <div class="left_d_w_box col-6">
                        <h5>On Delivery</h5>
                        <h3>1,5000</h3>
                        <p><img src="../../../../assets/images/admin/images/green_up.svg" alt="up">+23.66%</p>
                    </div>
                    <div class="right_d_w_box col-6">
                        <img src="../../../../assets/images/admin/images/green_chart.png" alt="chart">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="d_white_box">
                <div class="row">
                    <div class="left_d_w_box col-6 p-0">
                        <h5>Completed</h5>
                        <h3>2507,00</h3>
                        <p class="red_p"><img src="../../../../assets/images/admin/images/red_down.svg" alt="down">+08.56%</p>
                    </div>
                    <div class="right_d_w_box col-6  p-0">
                        <img src="../../../../assets/images/admin/images/red_chart.png" alt="chart">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="d_white_box">
                <div class="row">
                    <div class="left_d_w_box col-6">
                        <h5>Customers</h5>
                        <h3>11,200</h3>
                        <p><img src="../../../../assets/images/admin/images/green_up.svg" alt="up">+10.16%</p>
                    </div>
                    <div class="right_d_w_box col-6">
                        <img src="../../../../assets/images/admin/images/green_chart.png" alt="chart">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="d_htd_content">
        <div class="htd_head">
            <h5>Shipment Order Status</h5>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="data-tab" data-bs-toggle="tab"
                        data-bs-target="#home" type="button" role="tab" aria-controls="home"
                        aria-selected="true">Data</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="analytics-tab" data-bs-toggle="tab"
                        data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                        aria-selected="false">Analytics</button>
                </li>
            </ul>
            <div class="d_right_range_filter">
                <div>
                    <span>Date Range:</span>
                    <div class="sel-prt">
                        <select>
                            <option>1/8/2024 - 2/7/2024</option>
                            <option>1/8/2024 - 2/7/2024</option>
                            <option>1/8/2024 - 2/7/2024</option>
                        </select>
                    </div>
                </div>
                <div>
                    <span>Sort by:</span>
                    <div class="sel-prt">
                        <select>
                            <option>Booked</option>
                            <option>Not Booked</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="htd_content">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active shipment_order_status" id="home" role="tabpanel"
                    aria-labelledby="data-tab">
                    <div class="table_overflow">
                        <table>
                            <tbody>
                            <tr>
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>
                                    <div class="th_dropdown">
                                        <button class="btn dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Sender
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="th_dropdown">
                                        <button class="btn dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Receiver
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="th_dropdown">
                                        <button class="btn dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Status
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="th_dropdown">
                                        <button class="btn dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Shipping Partner
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="th_dropdown">
                                        <button class="btn dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Courier Insurance
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th>Shipping Cost</th>
                                <th>Adjustments</th>
                                <th>Overall Cost</th>
                                <th>Notes</th>
                            </tr>
                            <tr>
                                <td>JB-12456</td>
                                <td>31-May-2020</td>
                                <td>Service 1</td>
                                <td>Indo Accord Apparels</td>
                                <td class="d_red">Failed</td>
                                <td>XYZ Ltd</td>
                                <td>Lorem ipsum</td>
                                <td>$450</td>
                                <td>Credits +12</td>
                                <td>Credits +12</td>
                                <td>Lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>JB-12456</td>
                                <td>31-May-2020</td>
                                <td>Service 1</td>
                                <td>Indo Accord Apparels</td>
                                <td class="d_green">Delivered</td>
                                <td>XYZ Ltd</td>
                                <td>Lorem ipsum</td>
                                <td>$450</td>
                                <td>Credits +12</td>
                                <td>Credits +12</td>
                                <td>Lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>JB-12456</td>
                                <td>31-May-2020</td>
                                <td>Service 1</td>
                                <td>Indo Accord Apparels</td>
                                <td class="d_blue">In Transit</td>
                                <td>XYZ Ltd</td>
                                <td>Lorem ipsum</td>
                                <td>$450</td>
                                <td>Credits +12</td>
                                <td>Credits +12</td>
                                <td>Lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>JB-12456</td>
                                <td>31-May-2020</td>
                                <td>Service 1</td>
                                <td>Indo Accord Apparels</td>
                                <td class="d_green">Delivered</td>
                                <td>XYZ Ltd</td>
                                <td>Lorem ipsum</td>
                                <td>$450</td>
                                <td>Credits +12</td>
                                <td>Credits +12</td>
                                <td>Lorem ipsum</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <div class="btn_footer">
                        <a href="javascript:void(0)" class="btn_foot">Download</a>
                        <div class="sel-prt">
                            <select>
                                <option>Select format</option>
                                <option>Select format</option>
                                <option>Select format</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="analytics-tab">
                    <div class="analytics_tab">
                        <img src="../../../../assets/images/admin/images/analytics_graph.png" alt="graph">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>