<!-- <div class="col-lg-12 col-xl-4">
    <div class="p-4 d_htd_content bg-white h-full">
        <div class="bg-white htd_head ship-sum p-0 mb-3">
            <h4>Parcel Details</h4>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Contents*</label>
            <input type="text" placeholder="$142" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Your Reference</label>
            <input type="text" placeholder="$142" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Delivery Instructions</label>
            <textarea placeholder="Lorem ipsum doler sit amet..."></textarea>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <p class="tx-small-r">Please note drivers do not have the ability to telephone prior to delivery</p>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <div class="couriers-wtxt d-flex align-items-center">
                <div class="only_courierstxt">
                    <p>Authority to leave</p>
                </div>
                <div class="content">
                    <label class="switch m5">
                        <input type="checkbox" checked="">
                        <small></small>
                    </label>
                </div>
            </div>
        </div>
        <div class="ship-sum-col w-full">
            <p class="tx-small-r">Please note no claims can made for lost items after freight scanned as delivered if "Authority to Leave
                has been given to a shipment</p>
        </div>
    </div>
</div> -->

<!-- 
    <div class="p-4 d_htd_content bg-white h-full">
        <div class="bg-white htd_head ship-sum p-0 mb-3">
            <h4>Parcel Details</h4>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Contents*</label>
            <input type="text" placeholder="$142" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Your Reference</label>
            <input type="text" placeholder="$142" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Delivery Instructions</label>
            <textarea placeholder="Lorem ipsum doler sit amet..."></textarea>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <p class="tx-small-r">Please note drivers do not have the ability to telephone prior to delivery</p>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <div class="couriers-wtxt d-flex align-items-center">
                <div class="only_courierstxt">
                    <p>Authority to leave</p>
                </div>
                <div class="content">
                    <label class="switch m5">
                        <input type="checkbox" checked="">
                        <small></small>
                    </label>
                </div>
            </div>
        </div>
        <div class="ship-sum-col w-full">
            <p class="tx-small-r">Please note no claims can made for lost items after freight scanned as delivered if "Authority to Leave
                has been given to a shipment</p>
        </div>
    </div> -->
