
    <div class="p-4 d_htd_content bg-white mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="war-info-1" checked>
            <label class="form-check-label" for="war-info-1">
                I have read, understood, and accept the service and warranty options available to me, and I understand and accept the option that I have elected above.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="war-info-2">
            <label class="form-check-label" for="war-info-2">
                All our services are provided subject to our trading <a href="#">terms and conditions</a>  in addition to our <a href="#">warranty terms and conditions</a> (WTC) should you choose to proceed with our No Liability Service or Conditional Warranty Service.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="war-info-3">
            <label class="form-check-label" for="war-info-3">
                I understand that there is NO WARRANTY provided for any items which are listed as being prohibited or restricted items, except specific items listed under Enhanced Warranty Cover (EWC) AND only if the additional EWC premium has been paid. CHECK BEFORE YOU SEND
            </label>
          </div>
    </div>