<h5 class="mb-3">Parcel Details</h5>
                    <div class="ship-table mt-2">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Customer Reference</td>
                                        <td>Booking Date</td>
                                        <td>Weight</td>
                                        <td>Length</td>
                                        <td>Width</td>
                                        <td>Height</td>
                                        <td>Package Type</td>
                                        <td>Content Type</td>
                                        <td>Estimated Value</td>
                                        <td>Shipping Cost</td>
                                        <td>Warranty Cost</td>
                                        <td>Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr *ngIf="parcelData?.length > 0">
                                        <td>{{ parcelData[0]?.customer }}</td>
                                        <td>{{ parcelData[0]?.date }}</td>
                                        <td>{{ parcelData[0]?.weight }}</td>
                                        <td>{{ parcelData[0]?.length }}</td>
                                        <td>{{ parcelData[0]?.width }}</td>
                                        <td>{{ parcelData[0]?.height }}</td>
                                        <td>{{ parcelData[0]?.packageType }}</td>
                                        <td>{{ parcelData[0]?.contentType }}</td>
                                        <td>{{ parcelData[0]?.estimatedValue | currency }}</td>
                                        <td>{{ parcelData[0]?.shippingCost | currency }}</td>
                                        <td>{{ parcelData[0]?.warrantyCost | currency }}</td>
                                        <td>{{ parcelData[0]?.total | currency }}</td>
                                    </tr>
                                </tbody>
                                  
                                
                            </table>
                        </div>
                    </div>