<h5 class="mb-3">Parcel Details</h5>
                    <div class="ship-table mt-2">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Customer Reference</td>
                                        <td>Booking Date</td>
                                        <td>Weight</td>
                                        <td>Length</td>
                                        <td>Width</td>
                                        <td>Height</td>
                                        <td>Package Type</td>
                                        <td>Unit Type</td>
                                        <td>Estimated Value</td>
                                        <td>Shipping Cost</td>
                                        <td>Warranty Cost</td>
                                        <td>Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John Parker</td>
                                        <td>31-May-2020</td>
                                        <td>7Kg</td>
                                        <td>John Parker</td>
                                        <td>2.23 m </td>
                                        <td>2.5m</td>
                                        <td>Box</td>
                                        <td>Box</td>
                                        <td>$5,000.00</td>
                                        <td>$200</td>
                                        <td>$50</td>
                                        <td>$450</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>