<h5 class="mb-3">Parcel Details</h5>
                    <div class="ship-table mt-2">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Customer Reference</td>
                                        <td>Booking Date</td>
                                        <td>Weight</td>
                                        <td>Length</td>
                                        <td>Width</td>
                                        <td>Height</td>
                                        <td>Package Type</td>
                                        <td>Content Type</td>
                                        <td>Estimated Value</td>
                                        <td>Shipping Cost</td>
                                        <td>Warranty Cost</td>
                                        <td>Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                            <tr>
                                                <td>{{parcelData.customer}}</td>
                                                <td>{{parcelData.date}}</td>
                                                <td>{{parcelData.weight}}</td>
                                                <td>{{parcelData.length}}</td>
                                                <td>{{parcelData.width }}</td>
                                                <td>{{parcelData.height}}</td>
                                                <td>{{parcelData.packageType}}</td>
                                                <td>{{parcelData.contentType}}</td>
                                                <td>$5,000.00</td>
                                                <td>$200</td>
                                                <td>$50</td>
                                                <td>$450</td>
                                            </tr>
                                </tbody>
                                  
                                
                            </table>
                        </div>
                    </div>