<div class="main_content">
                
    <div class="row">
        <div class="col-xl-6"> <app-warrent-card1></app-warrent-card1></div>
        <div class="col-xl-6"><app-warrent-card2></app-warrent-card2></div>
       
        <div class="col-md-12">
        <app-term-conditions></app-term-conditions>
</div>
        </div>
        <div class="col-md-12">
            <div class="ship-btn-row">
                <button class="cr-btn">Finalise Booking</button>
            </div>
        </div> 
</div>