<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="user-activity" role="tabpanel" aria-labelledby="user-activity-tab">
        <!-- Include content for User Activity tab -->
        <app-user-activity></app-user-activity>
    </div>
    <div class="tab-pane fade" id="current-users" role="tabpanel" aria-labelledby="current-users-tab">
        <!-- Include content for Current Users tab -->
        <app-current-users></app-current-users>
    </div>
    <div class="tab-pane fade" id="user-administration" role="tabpanel" aria-labelledby="user-administration-tab">
        <!-- Include content for User Administration tab -->
        <app-user-administration></app-user-administration>
    </div>
</div>
