<!-- 
<div class="col-lg-6 col-xl-4 mb-4">
    <div class="p-4 d_htd_content bg-white">
        <div class="bg-white htd_head ship-sum p-0 mb-3">
            <h4>Collection Address</h4>
            <a href="#" class="tx-add"><i class="fa fa-plus-circle"></i> Add Address</a>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Contact Name <span class="tx-red">*</span></label>
            <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Company <span class="tx-light">(optional)</span></label>
            <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Address 1 <span class="tx-red">*</span></label>
            <input type="text" placeholder="Lorem ipsum" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Address 1</label>
            <input type="text" placeholder="$142" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Telephone <span class="tx-red">*</span></label>
            <input type="text" placeholder="0886767933" />
        </div>
        <div class="ship-sum-col w-full">
            <label>Email <span class="tx-red">*</span></label>
            <input type="text" placeholder="Johnp@xyz.com" />
        </div>
    </div>
</div> -->

    <div class="p-4 d_htd_content bg-white">
        <div class="bg-white htd_head ship-sum p-0 mb-3">
            <h4>Collection Address</h4>
            <a  class="tx-add"><i class="fa fa-plus-circle"></i> Add Address</a>
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Contact Name <span class="tx-red">*</span></label>
            <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Company <span class="tx-light">(optional)</span></label>
            <input type="text" placeholder="John Parker" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Address 1 <span class="tx-red">*</span></label>
            <input type="text" placeholder="Lorem ipsum" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Address 1</label>
            <input type="text" placeholder="$142" />
        </div>
        <div class="ship-sum-col w-full mb-3">
            <label>Telephone <span class="tx-red">*</span></label>
            <input type="text" placeholder="0886767933" />
        </div>
        <div class="ship-sum-col w-full">
            <label>Email <span class="tx-red">*</span></label>
            <input type="text" placeholder="Johnp@xyz.com" />
        </div>
    </div>
