<div class="main_content">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="d_htd_content bg-white htd_head mb-4 ship-sum p-4">
      <h4>Shipment Summary</h4>
      <a href="#" class="tx-edit"><i class="fa fa-pencil-square-o"></i> Edit</a>

      <div class="ship-sum-row">
        <div class="ship-sum-col">
          <label>Courier</label>
          <span class="str-logo"
            ><img [src]=" getQuoteById.logo" alt=""
          /></span>
        </div>
        <div class="ship-sum-col">
          <label>Shipment</label>
          <input type="text" [placeholder]="indexForm.weights + ' kgs'" readonly />
        </div>
        <div class="ship-sum-col">
          <label>From</label>
          <input type="text" [placeholder]="indexForm.fromSuburb" readonly />
        </div>
        <div class="ship-sum-col">
          <label>To</label>
          <input type="text" [placeholder]="indexForm.toSuburb" readonly />
        </div>
        <div class="ship-sum-col">
          <label>Collection Date</label>
          <input
            type="text"
            [placeholder]="indexForm.collectionDate"
            
            readonly
          />
        </div>
        <div class="ship-sum-col">
          <label>Estimated Delivery Date</label>
          <input type="text" [placeholder]="estimatedinHtml" readonly />
        </div>
        <div class="ship-sum-col">
          <label>Shipment Cost</label>
          <input
            type="text"
            [placeholder]=" '$ ' + getQuoteById.ishhiperFinalPrice"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-4 mb-4">
        <div class="p-4 d_htd_content bg-white">
          <div class="bg-white htd_head ship-sum p-0 mb-3">
            <h4>Collection Address</h4>
            <a href="#" class="tx-add"
              ><i class="fa fa-plus-circle"></i> Add Address</a
            >
          </div>
          <div class="ship-sum-col w-full mb-3" >
            <label>First Name <span class="tx-red">*</span></label>
            
            <input
              type="text"
              placeholder="John Parker"
              formControlName="pickupFirstName"
            />
            <div class="text-danger" *ngIf="(orderForm.controls['pickupFirstName'].touched || orderForm.controls['pickupFirstName'].dirty ) && orderForm.controls['pickupFirstName'].invalid">
                <small  *ngIf="orderForm.get('pickupFirstName')?.errors?.['required']">First Name is required.</small>
                <small  *ngIf="orderForm.get('pickupFirstName')?.errors?.['pattern']"> First Name can only contain letters and spaces.</small>
            </div>
          </div>
          <div class="ship-sum-col w-full mb-3">
            <label>Last Name <span class="tx-red">*</span></label>
            <input
              type="text"
              placeholder="John Parker"
              formControlName="pickupLastName"
            />
            <div class="text-danger" *ngIf="(orderForm.controls['pickupLastName'].touched || orderForm.controls['pickupLastName'].dirty ) && orderForm.controls['pickupLastName'].invalid">
                <small  *ngIf="orderForm.get('pickupLastName')?.errors?.['required']">Last Name is required.</small>
                <small  *ngIf="orderForm.get('pickupLastName')?.errors?.['pattern']"> Last Name can only contain letters and spaces.</small>
            </div>
          </div>
          <div class="ship-sum-col w-full mb-3">
            <label>Company <span class="tx-light">(optional)</span></label>
            <input
              type="text"
              placeholder="John Parker"
              formControlName="pickupCompanyName"
            />
          </div>

          <div class="ship-sum-col w-full mb-3" style="position: relative">
            <label>Address 1 <span class="tx-red">*</span></label>
            <input
              type="text"
              placeholder=""
              [options]="options"
              ngx-google-places-autocomplete
              #placesRef1="ngx-places"
              (onAddressChange)="
                handleAddressChange($event, 'formattedAddress1')
              "
              [(ngModel)]="formattedAddress1"
              style="padding-right: 30px"
              formControlName="pickupAddress1"
            />
            <div class="text-danger" *ngIf="(orderForm.controls['pickupAddress1'].touched || orderForm.controls['pickupAddress1'].dirty ) && orderForm.controls['pickupAddress1'].invalid">
                <small  *ngIf="orderForm.get('pickupAddress1')?.errors?.['required']">Select pickup address.</small>

            </div>
            <i
            *ngIf="formattedAddress1"
              class="bi bi-x-circle close-icon"
              (click)="clearAddress('formattedAddress1')"
              style="
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                margin-top: 20px;
              "
            ></i>
          </div>
          <div class="ship-sum-col w-full mb-3" style="position: relative">
            <label>Address 2 (optional)</label>
            <input
              type="text"
              placeholder=""
              
              style="padding-right: 30px"
              formControlName="pickupAddress2"
            />
            <i
            *ngIf="formattedAddress2"
              class="bi bi-x-circle close-icon"
              (click)="clearAddress('formattedAddress2')"
              style="
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                margin-top: 20px;
              "
            ></i>
          </div>
          <div class="inp-group ">
            <label>Telephone <span class="tx-red">*</span></label>
            <input
            class="border"
              type="text"
              placeholder="0886767933"
              formControlName="pickupPhone"
            />
            <div class="text-danger" *ngIf="(orderForm.controls['pickupPhone'].touched || orderForm.controls['pickupPhone'].dirty ) && orderForm.controls['pickupPhone'].invalid">
                <small  *ngIf="orderForm.get('pickupPhone')?.errors?.['required']">Phone number is required.</small>

            </div>
          </div>
          <div class="ship-sum-col w-full">
            <label>Email <span class="tx-red">*</span></label>
            <input
              type="text"
              placeholder="Johnp@xyz.com"
              formControlName="pickupEmail"
            />
            <div class="text-danger" *ngIf="(orderForm.controls['pickupEmail'].touched || orderForm.controls['pickupEmail'].dirty ) && orderForm.controls['pickupEmail'].invalid">
                <small  *ngIf="orderForm.get('pickupEmail')?.errors?.['required']">Email is required.</small>
                <small *ngIf="orderForm.get('pickupEmail')?.errors?.['email']">Please enter a valid email</small>
            </div>
          </div>
          <div class="ship-sum-col w-full"  *ngIf="rType">
            <label>Pickup Instructions <span class="tx-red">*</span></label>
            <input
              type="text"
              formControlName="pickupInstructions"
              
            />
            <div class="text-danger" *ngIf="(orderForm.controls['pickupInstructions'].touched || orderForm.controls['pickupInstructions'].dirty ) && orderForm.controls['pickupInstructions'].invalid">
                <small  *ngIf="orderForm.get('pickupEmail')?.errors?.['required']">Pickup Instruction is required.</small>
               
            </div>
          </div>
          <div class="ship-sum-col w-full mb-3" *ngIf="isCp">
            <div class="couriers-wtxt d-flex align-items-center mt-4">
              <div class="only_courierstxt mx-2">
                <p>Is Business</p>
              </div>
              <div class="content">
                <label class="switch m5">
                  <input type="checkbox" checked="" (change)="pickupIsBusiness($event)" />
                  <small></small>
                </label>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 mb-4">
        <div class="p-4 d_htd_content bg-white h-full">
          <div class="bg-white htd_head ship-sum p-0 mb-3">
            <h4>Delivery Address</h4>
            <a class="tx-add"><i class="fa fa-plus-circle"></i> Add Address</a>
          </div>
          <div class="ship-sum-col w-full mb-3" style="position: relative">
            <label>First Name <span class="tx-red">*</span></label>
            <input
              type="text"
              placeholder="John Parker"
              formControlName="destinationFirstName"
            />
            <div class="text-danger" *ngIf="(orderForm.controls['destinationFirstName'].touched || orderForm.controls['destinationFirstName'].dirty ) && orderForm.controls['destinationFirstName'].invalid">
                <small  *ngIf="orderForm.get('destinationFirstName')?.errors?.['required']">First Name is required.</small>
                <small  *ngIf="orderForm.get('destinationFirstName')?.errors?.['pattern']"> First Name can only contain letters and spaces.</small>
            </div>
          </div>
          <div class="ship-sum-col w-full mb-3" style="position: relative">
            <label>Last Name <span class="tx-red">*</span></label>
            <input
              type="text"
              placeholder="John Parker"
              formControlName="destinationLastName"
            />
            <div class="text-danger" *ngIf="(orderForm.controls['destinationLastName'].touched || orderForm.controls['destinationLastName'].dirty ) && orderForm.controls['destinationLastName'].invalid">
                <small  *ngIf="orderForm.get('destinationLastName')?.errors?.['required']">Last Name is required.</small>
                <small  *ngIf="orderForm.get('destinationLastName')?.errors?.['pattern']"> Last Name can only contain letters and spaces.</small>
            </div>
          </div>
          <div class="ship-sum-col w-full mb-3">
            <label>Company <span class="tx-light">(optional)</span></label>
            <input
              type="text"
              placeholder="John Parker"
              formControlName="destinationCompanyName"
            />
          </div>
          <div class="ship-sum-col w-full mb-3" style="position: relative">
            <label>Address 1 <span class="tx-red">*</span></label>
            <input
              type="text"
              placeholder=""
              [options]="options"
              ngx-google-places-autocomplete
              #placesRef3="ngx-places"
              (onAddressChange)="
                handleAddressChange($event, 'formattedAddress3')
              "
              [(ngModel)]="formattedAddress3"
              style="padding-right: 30px"
              formControlName="destinationAddress1"
            />
            <div class="text-danger" *ngIf="(orderForm.controls['destinationAddress1'].touched || orderForm.controls['destinationAddress1'].dirty ) && orderForm.controls['destinationAddress1'].invalid">
                <small  *ngIf="orderForm.get('destinationAddress1')?.errors?.['required']">Select destination address.</small>

            </div>
            <i
            *ngIf="formattedAddress3"
              class="bi bi-x-circle close-icon"
              (click)="clearAddress('formattedAddress3')"
              style="
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                margin-top: 20px;
              "
            ></i>
          </div>
          <div class="ship-sum-col w-full mb-3" style="position: relative">
            <label>Address 2 (optional)</label>
            
            <input
              type="text"
              placeholder=""
           
              style="padding-right: 30px"
              formControlName="destinationAddress2"
            />
            <i
            *ngIf="formattedAddress4"
              class="bi bi-x-circle close-icon"
              (click)="clearAddress('formattedAddress4')"
              style="
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                margin-top: 20px;
              "
            ></i>
          </div>
          <div class="inp-group">
            <label>Telephone <span class="tx-red">*</span></label>
            <input
            class="border"
              type="text"
              placeholder="0886767933"
              formControlName="destinationPhone"
            />
            <div class="text-danger" *ngIf="(orderForm.controls['destinationPhone'].touched || orderForm.controls['destinationPhone'].dirty ) && orderForm.controls['destinationPhone'].invalid">
                <small  *ngIf="orderForm.get('destinationPhone')?.errors?.['required']">Phone number is required.</small>

            </div>
          </div>
          <div class="ship-sum-col w-full">
            <label>Email <span class="tx-red">*</span></label>
            <input
              type="text"
              placeholder="Johnp@xyz.com"
              formControlName="destinationEmail"
            />
            <div class="ship-sum-col w-full" *ngIf="rType">
              <label>destination Instructions <span class="tx-red">*</span></label>
              <input
                type="text"
                formControlName="destinationInstructions"
              />
              <div class="text-danger" *ngIf="(orderForm.controls['destinationInstructions'].touched || orderForm.controls['destinationInstructions'].dirty ) && orderForm.controls['destinationInstructions'].invalid">
                  <small  *ngIf="orderForm.get('destinationEmail')?.errors?.['required']">destination Instruction is required.</small>
                 
              </div>
            </div>
            <div class="text-danger" *ngIf="(orderForm.controls['destinationEmail'].touched || orderForm.controls['destinationEmail'].dirty ) && orderForm.controls['destinationEmail'].invalid">
                <small  *ngIf="orderForm.get('destinationEmail')?.errors?.['required']">Email is required.</small>
                <small *ngIf="orderForm.get('destinationEmail')?.errors?.['email']">Please enter a valid email</small>
            </div>
          </div>
          <div class="ship-sum-col w-full mb-3" *ngIf="isCp">
            <div class="couriers-wtxt d-flex align-items-center mt-4">
              <div class="only_courierstxt mx-2">
                <p>Is Business</p>
              </div>
              <div class="content">
                <label class="switch m5">
                  <input type="checkbox" checked="" (change)="destinationIsBusiness($event)" />
                  <small></small>
                </label>
              </div>
              </div>
            </div>
        
        </div>
        
      </div>
      <div class="col-lg-12 col-xl-4">
        <div class="p-4 d_htd_content bg-white h-full">
          <div class="bg-white htd_head ship-sum p-0 mb-3">
            <h4>Parcel Details</h4>
          </div>
          <!-- <div class="ship-sum-col w-full mb-3">
            <label>Contents*</label>
            <input
              type="text"
              placeholder="$142"
              formControlName="parcelContent"
            /> -->
            <div class="inp-group">
                <label >Contents*</label>
                <select  formControlName="parcelContent"  class="sel-prt form-select  mt-2 border" id="parcelContent" >
                    <option  *ngFor="let content of ContentList"
                    [value]="content" >{{content}}</option>
                    
                </select>
                <div class="text-danger" *ngIf="(orderForm.controls['parcelContent'].touched || orderForm.controls['parcelContent'].dirty ) && orderForm.controls['parcelContent'].invalid">
                    <small  *ngIf="orderForm.get('parcelContent')?.errors?.['required']">Select content type.</small>
                    
                </div>
              </div>
          
          <div class="ship-sum-col w-full mb-3">
            <label>Your Reference</label>
            <input type="text" placeholder="" formControlName="reference"/>
            
          </div>
          <div class="inp-group">
            <label>Pickup Time Window</label>
            <select formControlName="pickupTimeWindow" id="pickupTimeWindow" >
                <option value="9am to 5pm" >9am to 5pm</option>
                <option value="5pm to 9am">5pm to 9am</option>
            </select>
            <div class="text-danger" *ngIf="(orderForm.controls['pickupTimeWindow'].touched || orderForm.controls['pickupTimeWindow'].dirty ) && orderForm.controls['pickupTimeWindow'].invalid">
                <small  *ngIf="orderForm.get('pickupTimeWindow')?.errors?.['required']">Select pickup slot.</small>
                
            </div>
          </div>
          <div class="ship-sum-col w-full mb-3" *ngIf="isCp">
            <label class="mx-2">Select Time:</label>
            <input type="time"  formControlName="readyTime" value="03:15:00" style="padding:3px 10px; border-radius:10px;
            border:1px solid rgb(179, 179, 179); font-size:15px" />
          </div>
          <div class="ship-sum-col w-full mb-3">
            <label>Delivery Instructions</label>
            <textarea
              placeholder=""
              formControlName="specialInstructions"
            ></textarea>
            <div class="text-danger" *ngIf="(orderForm.controls['specialInstructions'].touched || orderForm.controls['specialInstructions'].dirty ) && orderForm.controls['specialInstructions'].invalid">
                <small  *ngIf="orderForm.get('specialInstructions')?.errors?.['required']">Add special instructions.</small>
                
            </div>
          </div>
          <div class="ship-sum-col w-full mb-3">
            <p class="tx-small-r">
              Please note drivers do not have the ability to telephone prior to
              delivery
            </p>
          </div>
          <div class="ship-sum-col w-full mb-3">
            <div class="couriers-wtxt d-flex align-items-center">
              <div class="only_courierstxt">
                <p>Authority to leave</p>
              </div>
              <div class="content">
                <label class="switch m5">
                  <input type="checkbox" checked="" (change)="authorityToLeave($event)" />
                  <small></small>
                </label>
                
              </div>
            </div>
          </div>
          
          
          <div class="ship-sum-col w-full">
            <p class="tx-small-r">
              Please note no claims can made for lost items after freight
              scanned as delivered if "Authority to Leave has been given to a
              shipment
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="ship-btn-row">
          <button class="cr-btn">Previous Step</button>
          <button class="cr-btn cr-btn-bor" type="submit"  [routerLink]="'/application/cancellation'" (click)="onSubmit()"  >Next Step</button>
        </div>
      </div>
    </div>
  </form>
</div>
