<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-commissionsz">
    <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="bg-white modal_dtlstart">
                <div class="mb-4">
                    <h4>Commission</h4>
                </div>
                <form>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-12 col-12">
                            <div class="row only-deskfrm mb-4">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label id="carrier-label" for="carrier">Carrier Name <span
                                                class="text-danger">*</span></label>
                                        <select class="form-select user_formsdtls"
                                            aria-label="Default select example">
                                            <option selected>Carrier</option>
                                            <option value="Carrier">Carrier</option>
                                            <option value="Carrier">Carrier</option>
                                            <option value="Carrier">Carrier</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label id="service-label" for="service">Service Name
                                            (Optional)</label>
                                        <select class="form-select user_formsdtls"
                                            aria-label="Default select example">
                                            <option selected>Service</option>
                                            <option value="Service">Service</option>
                                            <option value="Service">Service</option>
                                            <option value="Service">Service</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label id="email-label" for="mobile">Commission <span
                                                class="text-danger">*</span></label>
                                        <div class="commission-align">
                                            <div class="form-check commission-space">
                                                <input class="form-check-input form_checkbg"
                                                    type="radio" name="flexRadioDefault"
                                                    id="flexRadioDefault1">
                                                <label class="form-check-label fw-bold mb-0"
                                                    for="flexRadioDefault1">
                                                    By $
                                                </label>
                                            </div>
                                            <div class="form-check commission-space">
                                                <input class="form-check-input form_checkbg"
                                                    type="radio" name="flexRadioDefault"
                                                    id="flexRadioDefault2" checked>
                                                <label class="form-check-label fw-bold mb-0"
                                                    for="flexRadioDefault2">
                                                    By %
                                                </label>
                                            </div>
                                            <input type="number" name="commission" id="commission"
                                                placeholder="" class="form-control user_formnum"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label id="service-label" for="service">Status <span
                                                class="text-danger">*</span></label>
                                        <select class="form-select user_formsdtls"
                                            aria-label="Default select example">
                                            <option selected>Status</option>
                                            <option value="status">Status</option>
                                            <option value="status">Status</option>
                                            <option value="status">Status</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="btn-spcprofile">
                                <a href="javascript:void(0)" class="btn_authenticate">Save</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
