
    <div class="p-4 d_htd_content bg-white h-full">
        <h4>Warranty Information</h4>
        <p class="mb-3">Based on your declared TOTAL WARRANTY VALUE, please indicate which warranty service you agree we provide you;</p>
        <div class="war-box">
            <div class="war-head">
                <div class="war-id">#</div>
                <div class="war-type">Warranty Type</div>
                <div class="war-amu">Required Warranty Covered Amount</div>
                <div class="war-amu">Additional Cost for Warranty Cover</div>
            </div>
            <div class="war-body">
                <div class="war-id">1</div>
                <div class="war-type"><span>No Liability Services</span></div>
                <div class="war-amu"><input type="text" class="wat-tfeild" placeholder="0.00" /></div>
                <div class="war-amu amu-check">
                    <input type="text" class="wat-tfeild" placeholder="0.00" />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault">
                        <label class="form-check-label"></label>
                    </div>
                </div>
            </div>
            <div class="war-body">
                <div class="war-id">2</div>
                <div class="war-type"><span>Conditional</span> <span class="tx-red">Standard Warranty Cover</span></div>
                <div class="war-amu"><input type="text" class="wat-tfeild" placeholder="0.00" /></div>
                <div class="war-amu amu-check">
                    <input type="text" class="wat-tfeild" placeholder="0.00" />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault">
                        <label class="form-check-label"></label>
                    </div>
                </div>
            </div>
            <p class="or-ops">OR</p>
            <div class="war-body">
                <div class="war-id">2</div>
                <div class="war-type">
                    <span>Conditional</span> <span class="tx-red">Standard Warranty Cover</span>
                    <small>(at additional cost for cover)</small>
                </div>
                <div class="war-amu"><input type="text" class="wat-tfeild" placeholder="0.00" /></div>
                <div class="war-amu amu-check">
                    <input type="text" class="wat-tfeild" placeholder="0.00" />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault">
                        <label class="form-check-label"></label>
                    </div>
                </div>
            </div>
            <p class="or-ops">OR</p>
            <div class="war-body">
                <div class="war-id">2</div>
                <div class="war-type">
                    <span>Conditional</span> <span class="tx-red">Enhanced Warranty Cover</span>
                    <small>(at additional cost for cover)</small>
                </div>
                <div class="war-amu"><input type="text" class="wat-tfeild" placeholder="0.00" /></div>
                <div class="war-amu amu-check">
                    <input type="text" class="wat-tfeild" placeholder="0.00" />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault">
                        <label class="form-check-label"></label>
                    </div>
                </div>
            </div>
            <div class="war-body">
                <div class="war-id">2</div>
                <div class="war-type">
                    
                    <span>Legal Liability Services</span>
                </div>
                <div class="war-amu"><input type="text" class="wat-tfeild" placeholder="0.00" /></div>
                <div class="war-amu amu-check">
                    <input type="text" class="wat-tfeild" placeholder="0.00" />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault">
                        <label class="form-check-label"></label>
                    </div>
                </div>
            </div>
            <div class="war-info">
                <h4>IMPORTANT INFO:</h4>
                <p class="tx-light">We do not warrant cover for all types of goods. All conditional warranty options are subject to Warranty Terms and Conditions (WTC) which are dependent on the warranty you choose, and subject to a $50 claims payment deduction.</p>
                <p class="tx-light">Parcel2 Courier does not provide or arrange freight insurance for our customers. So irrespective of which warranty service you agree we provide, you should always consider obtaining your own insurance as your loss and/or damage may exceed our liability.<br>
                    If none of our service alternatives suit your business objectives, please contact us prior to shipping to negotiate a different service that might better suit your needs.</p>
            </div>
           
        </div>
    </div>
