

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
        tabindex="0">
        <div class="main_box_row row">
            <div class="col-sm-6 col-xl-3">
                <div class="d_white_box">
                    <div class="row">
                        <div class="left_d_w_box col-6">
                            <h5>Total Shipment</h5>
                            <h3>2507,00</h3>
                            <p><img src="../../../../assets/images/admin/images/green_up.svg" alt="up">+12.56%</p>
                        </div>
                        <div class="right_d_w_box col-6">
                            <img src="../../../../assets/images/admin/images/green_chart.png" alt="chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="d_white_box">
                    <div class="row">
                        <div class="left_d_w_box col-6">
                            <h5>On Delivery</h5>
                            <h3>1,5000</h3>
                            <p><img src="../../../../assets/images/admin/images/green_up.svg" alt="up">+23.66%</p>
                        </div>
                        <div class="right_d_w_box col-6">
                            <img src="../../../../assets/images/admin/images/green_chart.png" alt="chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="d_white_box">
                    <div class="row">
                        <div class="left_d_w_box col-6 p-0">
                            <h5>Completed</h5>
                            <h3>1507,00</h3>
                            <p class="red_p"><img src="../../../../assets/images/admin/images/red_down.svg" alt="down">+08.16%
                            </p>
                        </div>
                        <div class="right_d_w_box col-6  p-0">
                            <img src="../../../../assets/images/admin/images/red_chart.png" alt="chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="d_white_box">
                    <div class="row">
                        <div class="left_d_w_box col-6">
                            <h5>Customers</h5>
                            <h3>11,200</h3>
                            <p><img src="../../../../assets/images/admin/images/green_up.svg" alt="up">+10.16%</p>
                        </div>
                        <div class="right_d_w_box col-6">
                            <img src="../../../../assets/images/admin/images/green_chart.png" alt="chart">
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="btn_footer px-0">
            <a href="javascript:void(0)" class="btn_foot">Download</a>
            <div class="">
                <select>
                    <option>Select format</option>
                    <option>Select format</option>
                    <option>Select format</option>
                </select>
            </div>
        </div>
    </div>