<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>::FORGOT PASSWORD::</title>
    <link rel="icon" type="image/x-icon" href="../../../../assets/images/admin/images/favicon.png">
    
</head>

<body>
    <div class="blue-wrapper">
        <div class="white_form_card forgot_password">
            <div class="head_logo">
                <img src="../../../../assets/images/admin/images/main-logo.png" alt="logo">
            </div>
            <h3>Enter your email to reset your password</h3>
            <div class="inp-group mb-0">
                <label for="">Email</label>
                <input type="text" name="" id="" placeholder="Johnp@xyz.com">
            </div>
            <div class="bck_prt">
                <a [routerLink]="'/login'" class="bck_login">Back to login</a>
            </div>

            <button type="submit" class="c_btn c_blue">Reset Password</button>

            <img src="../../../../assets/images/admin/images/login_ellipse_bg.svg" alt="bubbles" class="ellipse_bg_log">
            <img src="../../../../assets/images/admin/images/forgot_ellipse_bg.svg" alt="bubbles" class="ellipse_bg_log2">
        </div>
    </div>
   
</body>

</html>