<h4 class="mb-3">Delivery Details</h4>
                <div class="d_htd_content bg-white p-4">
                    <div class="check-list-box dl-pay">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="form-check1" checked>
                            <label class="form-check-label" for="form-check1">
                               <span>Pay using credit or debit card</span>
                               <span>
                                <img src="../../../../assets/images/customer/images/card-1.png" alt="" />
                                <img src="../../../../assets/images/customer/images/card-2.png" alt="" />
                               </span>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="form-check2">
                            <label class="form-check-label" for="form-check2">
                                Pay using your top up balance
                            </label>
                          </div>
                          
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="form-check4"  (click)="setMethod('square')" >
                            <label class="form-check-label" for="form-check4">
                                Pay using square payment method
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="form-check5"  (click)="setMethod('stripe')" >
                            <label class="form-check-label" for="form-check5">
                                Pay using stripe payment method
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="form-check3">
                            <label class="form-check-label" for="form-check3">
                                <span>Pay with your PayPal account</span>
                               <span>
                                <img src="../../../../assets/images/customer/images/card-3.png" alt="" />
                               </span>
                            </label>
                          </div>
                          
                    </div >
                  
                    </div>
                    <div class="proceed">
                      <button  class="payment" (click)="paymentMethod()"     >Proceed To Pay</button>
                     </div>
                     